/* Utility */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 18px;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    /* line-height: 1; */
    letter-spacing: normal;
    text-transform: none;
    display: inline-flex;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;

    vertical-align: top;
    color: #333;
}

/* Utility */

nav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    border-right: #dbdbdb solid 1px;
}

#navbrand {
    font-weight: bold;
    font-size: 24px;
    padding: 24px;
    color: #333;
}

.links {
    display: flex;
    flex-direction: column;
}

.links .active {
    font-weight: bold;
}

.links .active a {
    color: rgb(255, 110, 151);
}

.link {
    list-style-type: none;
}

.link a {
    color: #333;
    display: block;
    padding: 16px 24px;
    text-decoration: none;
}

.link a:hover {
    color: rgb(20, 20, 20);
    background-color: rgba(255, 110, 150, 0.1);
}

.link a span {
    margin-right: 12px;
    text-decoration: none;
}

/* Main */
main {
    max-width: 1400px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

#articles {
    margin-left: 260px;
    flex: 100%;
    width: 100%;
    /* background-color: #f2f2f2; */
}

#articles header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 21px 24px;
    background-color: #333;
    margin-bottom: 24px;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
}

#articles header form {
    width: 100%;
    display: flex;
}

#articles header button {
    padding: 8px 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0);

    position: fixed;
    align-self: center;
    right: 24px;
}

#articles header button:hover {
    cursor: pointer;
}

#articles header input {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    border: rgb(150, 150, 150) solid 1px;
    border-radius: 8px;
}

#articles header input:focus {
    outline: none !important;
    background-color: rgba(255, 110, 150, 0.1);
}

.article-container {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

article {
    width: 100%;
    border-radius: 8px;

    overflow: hidden;
    box-shadow: 0px 8px 48px -24px rgba(33, 33, 33, 0.64);
    -webkit-box-shadow: 0px 8px 48px -24px rgba(33, 33, 33, 0.64);
    -moz-box-shadow: 0px 8px 48px -24px rgba(33, 33, 33, 0.64);
}

article img {
    width: 100%;
}

.article-content {
    padding: 24px;
}

.article-content h2 {
    margin-bottom: 8px;
}

.cta-read {
    display: block;
    margin-top: 8px;
    color: rgb(255, 110, 151);
}

#aside {
    flex: 50%;
    width: 50%;
    background-color: #fff;
    border-left: #dbdbdb solid 1px;
}